body {
  color: #333;
  font-family: Roboto, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5;

  @media print {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem; }

a {
  color: #477dca;
  transition: color 150ms ease;
}
a:active,
a:focus,
a:hover {
color: #355e98;
}

h1 {
  font-size: 3.5rem;
  font-weight: 300;
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 20px;

  @media print {
    margin-bottom: 20px;
  }
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

h3 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

h4 {
  font-weight: 300;
  font-size:2.5rem;
  margin-bottom:3px;
  margin-top: 20px;
}

// Remove margin-top when any header follows another header
@each $header in h1, h2, h3, h4, h5, h6 {
  @each $next in h1, h2, h3, h4, h5, h6 {
    #{$header} + #{$next} {
      margin-top: 0;
    }
  }
}

// Remove margin-top when header is first child in a div
@each $header in h1, h2, h3, h4, h5, h6 {
  div > #{$header}:first-child {
    margin-top: 0;
  }
}

p, ul {
  font-size: 1.6rem;
  text-align: justify;
}

a i {
  font-size:1.6rem;
}

mark {
  font-weight: 500;
  //padding: 2px 4px;
  //font-size: 90%;
  //color: black;
  //background-color: #e7eaf1;
  border-radius: 5px;
  //-webkit-box-shadow: inset 0 -1px 0 rgba(229, 232, 236, 0.25);
  //box-shadow: inset 0 -1px 0 rgba(243, 245, 246, 0.25);
}